[Unit]
Description=launch chromium-browser

[Service]
#User=[your raspi name]
User=kotobuki8pi
Environment=DISPLAY=:0

ExecStart=/home/kotobuki8pi/mft/systemd_autorun/autorun.sh
#ExecStart=chromium-browser --kiosk
#file:///home/[user]/test.html
#ExecStart=chromium-browser --kiosk http://localhost:4200

[Install]
WantedBy=user@.service
