[Unit]
Description=test

[Service]
#Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/kotobuki8pi/.Xauthority
ExecStart=echo "hello"
User=kotobuki8pi
Group=pi

[Install]
WantedBy=multi-user.target